.wave-header {
    position: relative;
    overflow: hidden;
}

.wave-header h2 {
    margin-top: 0;
    padding-top: 10px;
    position: relative;
    display: inline-block;
    animation: wave 1.5s infinite alternate;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}