.entity-list {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.entity-box {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .entity-list {
        grid-template-columns: 1fr;
    }

    .entity-box {
        width: 100%;
    }
}

.main-title{
    margin: 0px;
    background: #222222;
}